:root {
  --main-color: #757575;
  --secondary-color: #212121;
  --logo-color-one: #000000;
  --logo-color-two: #ffffff;
  --logo-color-left: #2196f3;
  --hero-color: #2f303a;
  --btn-hover-color: #188ce8;
  --address-text-color: rgba(255, 255, 255, 0.6);
  --section-team-color: #f5f4fa;
  --color-icon: #afb1b8;
  --color-placeholder: rgba(117, 117, 117, 0.5);
  --main-transition-time: 250ms;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
}

.hidden-title {
  width: 1px;
  height: 1px;
  overflow: hidden;
  opacity: 0;
  margin: -1px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.list {
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
  border: none;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  margin: 0;
  color: var(--main-color);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  padding-left: 0;
  margin: 0;
}

.current {
  color: var(--logo-color-left);
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.header {
  color: var(--secondary-color);
  border-bottom: 1px solid #ececec;
}

.header .container {
  display: flex;
  align-items: center;
}

.header__list {
  display: flex;
}

.header__list :not(:last-child) {
  margin-right: 50px;
}

.header-connect {
  margin-left: auto;
}

.header__item {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-color);
}

.header__item {
  display: inline-flex;
  align-items: center;
}

.header__link-pages {
  position: relative;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding: 32px 0;
  color: var(--secondary-color);
  transition: color var(--main-transition-time) var(--cubic);
}

.header__link-pages:hover {
  color: var(--logo-color-left);
}

.header__link-pages.current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--logo-color-left);
  border-radius: 2px;
}

.header__link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding: 32px 0;
  display: flex;
  align-items: center;
  color: var(--main-color);
  transition: color var(--main-transition-time) var(--cubic);
}

.header__link:hover {
  color: var(--logo-color-left);
}

.header__link:hover .header__icon {
  fill: var(--logo-color-left);
}

.header__icon {
  margin-right: 10px;
  transition: fill var(--main-transition-time) var(--cubic);
}

.header__logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-right: 93px;
  color: var(--logo-color-left);
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--logo-color-one);
}

.hero {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  border-color: var(--main-color);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-img.jpg);
}

.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-top: 0;
  padding-bottom: 30px;
  max-width: 650px;
  margin: 0 auto;
  color: var(--logo-color-two);
}

.hero__btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 32px;
  padding-right: 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: var(--logo-color-left);
  color: var(--logo-color-two);
  transition: background-color var(--main-transition-time) var(--cubic);
}

.hero__btn:hover {
  background-color: var(--btn-hover-color);
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  padding: 40px;
  background: var(--logo-color-two);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal__close-btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: var(--logo-color-two);
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.modal__close-btn:hover .modal__close-icon {
  fill: var(--logo-color-left);
}

.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
  color: var(--secondary-color);
}

.modal__field {
  margin-bottom: 10px;
}

.modal__input {
  width: 100%;
  height: 40px;
  margin-top: 4px;
  padding-left: 41px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  transition: border-color var(--main-transition-time) var(--cubic);
}

.modal__input:focus {
  border: 1px solid var(--logo-color-left);
}

.modal__input:focus + .modal__input-icon {
  fill: var(--logo-color-left);
}

.modal__label {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--main-color);
}

.modal-__comment {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--main-color);
}

.modal__comment-text {
  resize: none;
  width: 100%;
  height: 120px;
  margin-top: 4px;
  padding: 12px 16px 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border-color var(--main-transition-time) var(--cubic);
}

.modal__comment-text:focus {
  border-color: var(--logo-color-left);
}

.modal__comment-text:placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--color-placeholder);
}

.modal__btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 55px;
  color: var(--logo-color-two);
  background: var(--logo-color-left);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color var(--main-transition-time) var(--cubic);
}

.modal__btn:hover,
.modal__btn:focus {
  background-color: var(--btn-hover-color);
}

.modal__input-wrap {
  position: relative;
}

.modal__field-check {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

.modal__input-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  transition: fill var(--main-transition-time) var(--cubic);
}

.modal__check-text {
  display: flex;
  align-items: center;
  text-align: center;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

.modal__check-text span {
  width: 16px;
  height: 15px;
  border: 2px solid var(--secondary-color);
  border-radius: 2px;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal__check-icon {
  fill: transparent;
}

/* .check-text::before {
  content: '';
  width: 16px;
  height: 15px;
  border: 2px solid var(--secondary-color);
  border-radius: 2px;
  margin-right: 8px;
} */
.modal__check-link {
  color: var(--logo-color-left);
  text-decoration: underline;
}

.modal__input-check:checked + .modal__check-text span {
  background-color: #2196f3;
  border: none;
}

.modal__input-check:checked + .modal__check-text .modal__check-icon {
  fill: var(--logo-color-two);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.section {
  margin: 0;
  padding-top: 94px;
  padding-bottom: 94px;
}

.section--two {
  padding-bottom: 0;
}

.section__list {
  width: calc(100% / 4 - 30px);
  display: flex;
  justify-content: space-between;
}

.section__item:not(:last-child) {
  margin-right: 30px;
}

.section__pictures {
  width: 270px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  background-color: var(--section-team-color);
  border-radius: 4px;
}

.section__title {
  font-weight: 700;
  list-style-type: none;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-color);
}

.section__text {
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-top: 10px;
  margin-right: 0;
  justify-content: space-between;
  color: var(--main-color);
}

.section--three {
  display: block;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.section__title-about {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  color: var(--secondary-color);
}

.section--three__list {
  display: flex;
}

.section--three__img:not(:last-child) {
  margin-right: 30px;
}

.section--three__img {
  position: relative;
  line-height: 0;
}

.section__img-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-color-two);
}

.section-description {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
}

.section--clients__list {
  display: flex;
}

.section--clients__item {
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--color-icon);
  cursor: pointer;
  transition: fill var(--main-transition-time) var(--cubic), border-color var(--main-transition-time) var(--cubic);
}

.section--clients__item:not(:last-child) {
  margin-right: 30px;
}

.section--clients__item:hover {
  border-color: var(--logo-color-left);
  fill: var(--logo-color-left);
}
/*# sourceMappingURL=main.css.map */