:root {
  --main-color: #757575;
  --secondary-color: #212121;
  --logo-color-one: #000000;
  --logo-color-two: #ffffff;
  --logo-color-left: #2196f3;
  --hero-color: #2f303a;
  --btn-hover-color: #188ce8;
  --address-text-color: rgba(255, 255, 255, 0.6);
  --section-team-color: #f5f4fa;
  --color-icon: #afb1b8;
  --color-placeholder: rgba(117, 117, 117, 0.5);
  --main-transition-time: 250ms;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
}

.hidden-title {
  width: 1px;
  height: 1px;
  overflow: hidden;
  opacity: 0;
  margin: -1px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.list {
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
  border: none;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  margin: 0;
  color: var(--main-color);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  padding-left: 0;
  margin: 0;
}

.current {
  color: var(--logo-color-left);
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.header {
  color: var(--secondary-color);
  border-bottom: 1px solid #ececec;
}

.header .container {
  display: flex;
  align-items: center;
}

.header__list {
  display: flex;
}

.header__list :not(:last-child) {
  margin-right: 50px;
}

.header-connect {
  margin-left: auto;
}

.header__item {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-color);
}

.header__item {
  display: inline-flex;
  align-items: center;
}

.header__link-pages {
  position: relative;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding: 32px 0;
  color: var(--secondary-color);
  transition: color var(--main-transition-time) var(--cubic);
}

.header__link-pages:hover {
  color: var(--logo-color-left);
}

.header__link-pages.current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--logo-color-left);
  border-radius: 2px;
}

.header__link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding: 32px 0;
  display: flex;
  align-items: center;
  color: var(--main-color);
  transition: color var(--main-transition-time) var(--cubic);
}

.header__link:hover {
  color: var(--logo-color-left);
}

.header__link:hover .header__icon {
  fill: var(--logo-color-left);
}

.header__icon {
  margin-right: 10px;
  transition: fill var(--main-transition-time) var(--cubic);
}

.header__logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-right: 93px;
  color: var(--logo-color-left);
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--logo-color-one);
}

.hero {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  border-color: var(--main-color);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-img.jpg);
}

.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-top: 0;
  padding-bottom: 30px;
  max-width: 650px;
  margin: 0 auto;
  color: var(--logo-color-two);
}

.hero__btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 32px;
  padding-right: 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: var(--logo-color-left);
  color: var(--logo-color-two);
  transition: background-color var(--main-transition-time) var(--cubic);
}

.hero__btn:hover {
  background-color: var(--btn-hover-color);
}
/*# sourceMappingURL=main.css.map */